<a href="https://colab.research.google.com/github/devjarsaniya/Foundation-of-Machine-Learning-Numpy_Dev/blob/main/cse273.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [211]:
import pandas as pd
import numpy as np

In [212]:
s=pd.Series([10,20,30],index=['a','b','c'])
print(s)
print(s['a'])
print(s[0])

a    10
b    20
c    30
dtype: int64
10
10

/tmp/ipython-input-4077743799.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s[0])

In [213]:
data={"math":90,"Physics":85,"Chemistry":88}

marks=pd.Series(data)
print(data)
print(marks)

{'math': 90, 'Physics': 85, 'Chemistry': 88}
math         90
Physics      85
Chemistry    88
dtype: int64

DATAFRAME in Pandas

In [214]:
data={
    "Name":["Aman","krish","Karan"],
    "Age":[22,23,21],
    "Marks":[85,90,88]

}


print(data)
type(data)
marks=pd.DataFrame(data)
print(marks)

{'Name': ['Aman', 'krish', 'Karan'], 'Age': [22, 23, 21], 'Marks': [85, 90, 88]}
    Name  Age  Marks
0   Aman   22     85
1  krish   23     90
2  Karan   21     88

In [215]:
marks=pd.DataFrame(
    data,
    index=["stu1","stu2","stu3"]
)

print(marks)

       Name  Age  Marks
stu1   Aman   22     85
stu2  krish   23     90
stu3  Karan   21     88

In [216]:
marks.set_index("Name",inplace=True) #if we are setting inplace= true it means we are changing the original object itself.
print(marks)

       Age  Marks
Name
Aman    22     85
krish   23     90
Karan   21     88

In [217]:
df=pd.DataFrame({
    "name":["Aman","Bhatia","Karan"],
    "age":[22,23,21],
    "marks":[85,90,88]
})

print(df)

     name  age  marks
0    Aman   22     85
1  Bhatia   23     90
2   Karan   21     88

In [218]:
df.head() # prints first five rows or any number given in ()

     name  age  marks
0    Aman   22     85
1  Bhatia   23     90
2   Karan   21     88

In [219]:
df.tail() # prints last five rows or any number given in ()

     name  age  marks
0    Aman   22     85
1  Bhatia   23     90
2   Karan   21     88

In [220]:
df=pd.DataFrame({
    "name":["Aman","Bhatia","Karan","dev","sharvan","parth"],
    "age":[21,34,23,54,24,22],
    "marks":[89,90,91,92,93,94]
})


df.head(4)

     name  age  marks
0    Aman   21     89
1  Bhatia   34     90
2   Karan   23     91
3     dev   54     92

In [221]:
df.tail(2)

      name  age  marks
4  sharvan   24     93
5    parth   22     94

In [222]:
df.shape

(6, 3)

In [223]:
df.columns

Index(['name', 'age', 'marks'], dtype='object')

In [224]:
df.info

<bound method DataFrame.info of       name  age  marks
0     Aman   21     89
1   Bhatia   34     90
2    Karan   23     91
3      dev   54     92
4  sharvan   24     93
5    parth   22     94>

In [225]:
df.describe()

             age      marks
count   6.000000   6.000000
mean   29.666667  91.500000
std    12.816656   1.870829
min    21.000000  89.000000
25%    22.250000  90.250000
50%    23.500000  91.500000
75%    31.500000  92.750000
max    54.000000  94.000000