<a href="https://colab.research.google.com/github/devjarsaniya/Foundation-of-Machine-Learning-Numpy_Dev/blob/main/cse273.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
s=pd.Series([10,20,30],index=['a','b','c'])
print(s)
print(s['a'])
print(s[0])

a    10
b    20
c    30
dtype: int64
10
10

/tmp/ipython-input-217/4077743799.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s[0])

In [ ]:
data={"math":90,"Physics":85,"Chemistry":88}

marks=pd.Series(data)
print(data)
print(marks)

{'math': 90, 'Physics': 85, 'Chemistry': 88}
math         90
Physics      85
Chemistry    88
dtype: int64

DATAFRAME in Pandas

In [ ]:
data={
    "Name":["Aman","krish","Karan"],
    "Age":[22,23,21],
    "Marks":[85,90,88]

}


print(data)
type(data)
marks=pd.DataFrame(data)
print(marks)

{'Name': ['Aman', 'krish', 'Karan'], 'Age': [22, 23, 21], 'Marks': [85, 90, 88]}
    Name  Age  Marks
0   Aman   22     85
1  krish   23     90
2  Karan   21     88

In [ ]:
marks=pd.DataFrame(
    data,
    index=["stu1","stu2","stu3"]
)

print(marks)

       Name  Age  Marks
stu1   Aman   22     85
stu2  krish   23     90
stu3  Karan   21     88

In [ ]:
marks.set_index("Name",inplace=True) #if we are setting inplace= true it means we are changing the original object itself.
print(marks)

       Age  Marks
Name
Aman    22     85
krish   23     90
Karan   21     88

In [ ]:
df=pd.DataFrame({
    "name":["Aman","Bhatia","Karan"],
    "age":[22,23,21],
    "marks":[85,90,88]
})

print(df)

     name  age  marks
0    Aman   22     85
1  Bhatia   23     90
2   Karan   21     88

In [ ]:
df.head() # prints first five rows or any number given in ()

     name  age  marks
0    Aman   22     85
1  Bhatia   23     90
2   Karan   21     88

In [ ]:
df.tail() # prints last five rows or any number given in ()

     name  age  marks
0    Aman   22     85
1  Bhatia   23     90
2   Karan   21     88

In [ ]:
df=pd.DataFrame({
    "name":["Aman","Bhatia","Karan","dev","sharvan","parth"],
    "age":[21,34,23,54,24,22],
    "marks":[89,90,91,92,93,94]
})


df.head(4)

     name  age  marks
0    Aman   21     89
1  Bhatia   34     90
2   Karan   23     91
3     dev   54     92

In [ ]:
df.tail(2)

      name  age  marks
4  sharvan   24     93
5    parth   22     94

In [ ]:
df.shape

(6, 3)

In [ ]:
df.columns

Index(['name', 'age', 'marks'], dtype='object')

In [ ]:
df.info

<bound method DataFrame.info of       name  age  marks
0     Aman   21     89
1   Bhatia   34     90
2    Karan   23     91
3      dev   54     92
4  sharvan   24     93
5    parth   22     94>

In [ ]:
df.describe()

             age      marks
count   6.000000   6.000000
mean   29.666667  91.500000
std    12.816656   1.870829
min    21.000000  89.000000
25%    22.250000  90.250000
50%    23.500000  91.500000
75%    31.500000  92.750000
max    54.000000  94.000000

In [ ]:
#select the data
df[["name","marks"]]

      name  marks
0     Aman     89
1   Bhatia     90
2    Karan     91
3      dev     92
4  sharvan     93
5    parth     94

In [ ]:
#filtering in pandas

df[df["marks"]>91]

      name  age  marks
3      dev   54     92
4  sharvan   24     93
5    parth   22     94

In [ ]:
df[(df["age"]>21) & (df["marks"]>90)]

      name  age  marks
2    Karan   23     91
3      dev   54     92
4  sharvan   24     93
5    parth   22     94

In [ ]:
df.sort_values("marks") #ascending order

      name  age  marks
0     Aman   21     89
1   Bhatia   34     90
2    Karan   23     91
3      dev   54     92
4  sharvan   24     93
5    parth   22     94

In [ ]:
df.sort_values("marks",ascending=False) #descending order

      name  age  marks
5    parth   22     94
4  sharvan   24     93
3      dev   54     92
2    Karan   23     91
1   Bhatia   34     90
0     Aman   21     89

In [ ]:
df["age"].value_counts()

age
21    1
34    1
23    1
54    1
24    1
22    1
Name: count, dtype: int64

handling missing value

In [ ]:
df=pd.DataFrame({
    "name":["Aman","Bhatia","Karan","dev",None,"sharvan","parth"],
    "age":[21,23,None,22,25,65, None],
    "marks": [85,None,88,99,56,None, None]
})

df

      name   age  marks
0     Aman  21.0   85.0
1   Bhatia  23.0    NaN
2    Karan   NaN   88.0
3      dev  22.0   99.0
4     None  25.0   56.0
5  sharvan  65.0    NaN
6    parth   NaN    NaN

In [ ]:
df.isnull() #checkiing the missing values

    name    age  marks
0  False  False  False
1  False  False   True
2  False   True  False
3  False  False  False
4   True  False  False
5  False  False   True
6  False   True   True

In [ ]:
df.isnull().sum() #counting the missing values

name     1
age      2
marks    3
dtype: int64

In [ ]:
df.dropna()

   name   age  marks
0  Aman  21.0   85.0
3   dev  22.0   99.0

In [ ]:
print(df)

      name   age  marks
0     Aman  21.0   85.0
1   Bhatia  23.0    NaN
2    Karan   NaN   88.0
3      dev  22.0   99.0
4     None  25.0   56.0
5  sharvan  65.0    NaN
6    parth   NaN    NaN

In [ ]:
cleaned_data=df.dropna()
print(cleaned_data)

   name   age  marks
0  Aman  21.0   85.0
3   dev  22.0   99.0