<a href="https://colab.research.google.com/github/devjarsaniya/Foundation-of-Machine-Learning-Numpy_Dev/blob/main/cse273_panda_practice_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
import pandas as pd

In [38]:
df=pd.DataFrame({
    "name":["Aman","Saurav","Karan","Shubham","Abhishek",None,"Sameer"],
    "age":[22,23,None,22,25,24,26],
    "marks": [85,None,88,99,56,72,None],
    "subject":["maths","physics","maths","chemistry","maths","physics","maths"]
})
print(df)

       name   age  marks    subject
0      Aman  22.0   85.0      maths
1    Saurav  23.0    NaN    physics
2     Karan   NaN   88.0      maths
3   Shubham  22.0   99.0  chemistry
4  Abhishek  25.0   56.0      maths
5      None  24.0   72.0    physics
6    Sameer  26.0    NaN      maths

In [39]:
df = pd.DataFrame(df)

print(df)

       name   age  marks    subject
0      Aman  22.0   85.0      maths
1    Saurav  23.0    NaN    physics
2     Karan   NaN   88.0      maths
3   Shubham  22.0   99.0  chemistry
4  Abhishek  25.0   56.0      maths
5      None  24.0   72.0    physics
6    Sameer  26.0    NaN      maths

In [40]:
print(df.shape)

(7, 4)

In [41]:
print(df.dtypes)

name        object
age        float64
marks      float64
subject     object
dtype: object

In [42]:
print(df.describe())

             age      marks
count   6.000000   5.000000
mean   23.666667  80.000000
std     1.632993  16.507574
min    22.000000  56.000000
25%    22.250000  72.000000
50%    23.500000  85.000000
75%    24.750000  88.000000
max    26.000000  99.000000

In [43]:
view = df[["name", "marks"]]
print(view)

       name  marks
0      Aman   85.0
1    Saurav    NaN
2     Karan   88.0
3   Shubham   99.0
4  Abhishek   56.0
5      None   72.0
6    Sameer    NaN

In [44]:
filtered = df[df['marks'] > 80]
print(filtered)

      name   age  marks    subject
0     Aman  22.0   85.0      maths
2    Karan   NaN   88.0      maths
3  Shubham  22.0   99.0  chemistry

In [45]:
complex_filtered = df[(df['age'] > 22) & (df['marks'] > 80)]
print(complex_filtered)

Empty DataFrame
Columns: [name, age, marks, subject]
Index: []

In [46]:
count_subject = df.groupby('subject').size()
print(count_subject)

subject
chemistry    1
maths        4
physics      2
dtype: int64

In [47]:
sorted_df = df.sort_values(by='marks', ascending=False)
print(sorted_df)

       name   age  marks    subject
3   Shubham  22.0   99.0  chemistry
2     Karan   NaN   88.0      maths
0      Aman  22.0   85.0      maths
5      None  24.0   72.0    physics
4  Abhishek  25.0   56.0      maths
1    Saurav  23.0    NaN    physics
6    Sameer  26.0    NaN      maths

In [48]:
top2 = df.nlargest(2, 'marks')
print(top2)

      name   age  marks    subject
3  Shubham  22.0   99.0  chemistry
2    Karan   NaN   88.0      maths

In [49]:
lowest = df.nsmallest(1, 'marks')
print(lowest)

       name   age  marks subject
4  Abhishek  25.0   56.0   maths

In [50]:
print(df.isna().sum())

name       1
age        1
marks      2
subject    0
dtype: int64

In [51]:
missing_marks = df[df['marks'].isna()]
print(missing_marks)

     name   age  marks  subject
1  Saurav  23.0    NaN  physics
6  Sameer  26.0    NaN    maths

In [52]:
cleaned_df = df.dropna()
print(cleaned_df)

       name   age  marks    subject
0      Aman  22.0   85.0      maths
3   Shubham  22.0   99.0  chemistry
4  Abhishek  25.0   56.0      maths

In [53]:
print("Original Shape:", df.shape)
print("Cleaned Shape:", cleaned_df.shape)

Original Shape: (7, 4)
Cleaned Shape: (3, 4)

In [54]:
cleaned_df = df.dropna()
print(cleaned_df)

       name   age  marks    subject
0      Aman  22.0   85.0      maths
3   Shubham  22.0   99.0  chemistry
4  Abhishek  25.0   56.0      maths