<a href="https://colab.research.google.com/github/devjarsaniya/Foundation-of-Machine-Learning-Numpy_Dev/blob/main/cse_273_pandas_ex2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This slide is just the scenario description (no coding yet).
But based on it, here is the basic structure and preparation code you may need ðŸ‘‡

Assume DataFrame df already exists with columns:

Name

Department

Role

Experience

Salary

Score

In [8]:
import pandas as pd
import numpy as np


data = {
    "Name": ["Dev", None, "Meet", "Dhruv", None,"Yash", "Krish", None, "Parth", "Nisarg"],

    "Department": ["IT", "HR", None, "IT", "Finance",None, "IT", "Sales", None, "IT"],

    "Role": ["Developer", "Analyst", None, "Developer", "Analyst","Manager", None, "Analyst", "Manager", None],

    "Experience": [2, None, 8, 3, None,10, 4, None, 9, 1],

    "Salary": [60000, None, 90000, 65000, 70000,None, 62000, 72000, None, 58000],

    "Score": [85, None, 90, 88, 92,95, None, 96, 91, None]
}

df = pd.DataFrame(data)

print(df)

     Name Department       Role  Experience   Salary  Score
0     Dev         IT  Developer         2.0  60000.0   85.0
1    None         HR    Analyst         NaN      NaN    NaN
2    Meet       None       None         8.0  90000.0   90.0
3   Dhruv         IT  Developer         3.0  65000.0   88.0
4    None    Finance    Analyst         NaN  70000.0   92.0
5    Yash       None    Manager        10.0      NaN   95.0
6   Krish         IT       None         4.0  62000.0    NaN
7    None      Sales    Analyst         NaN  72000.0   96.0
8   Parth       None    Manager         9.0      NaN   91.0
9  Nisarg         IT       None         1.0  58000.0    NaN

In [9]:
print(df.groupby('Department')['Salary'].mean())

Department
Finance    70000.0
HR             NaN
IT         61250.0
Sales      72000.0
Name: Salary, dtype: float64

In [10]:
print(df.groupby('Role')['Score'].mean())

Role
Analyst      94.0
Developer    86.5
Manager      93.0
Name: Score, dtype: float64

In [11]:
print(df.groupby('Department')['Score'].count())

Department
Finance    1
HR         0
IT         2
Sales      1
Name: Score, dtype: int64

In [12]:
print(df.groupby('Department').size())

Department
Finance    1
HR         1
IT         4
Sales      1
dtype: int64

In [13]:
print(df.groupby('Department')['Salary'].agg(['mean', 'max', 'min', 'count']))

               mean      max      min  count
Department
Finance     70000.0  70000.0  70000.0      1
HR              NaN      NaN      NaN      0
IT          61250.0  65000.0  58000.0      4
Sales       72000.0  72000.0  72000.0      1

In [14]:
print(df.groupby('Role')['Score'].agg(['mean', 'max', 'min', 'count']))

           mean   max   min  count
Role
Analyst    94.0  96.0  92.0      2
Developer  86.5  88.0  85.0      2
Manager    93.0  95.0  91.0      2

In [15]:
print(df.groupby(['Department', 'Role'])['Salary'].mean())

Department  Role
Finance     Analyst      70000.0
HR          Analyst          NaN
IT          Developer    62500.0
Sales       Analyst      72000.0
Name: Salary, dtype: float64

In [16]:
print(df.groupby(['Department', 'Experience'])['Score'].mean())

Department  Experience
IT          1.0            NaN
            2.0           85.0
            3.0           88.0
            4.0            NaN
Name: Score, dtype: float64